#summary-block {
    padding-left: 500px;
    padding-right: 1100px;
}

.small-border, #hero-image{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 100%;
    height: auto;
}

#hero-image{
    max-width: 100%;
}
.anual-plan-border{
    border-radius: 10px;

}

.music-icon {
    margin-left: -80px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#order-summary-block {
    background-color: whitesmoke;
    margin-top: -20px;
    max-width: 100%;
    float: left;
    
}

#order-header-text {
    text-align: center;
}

#order-description-text {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

#annual-plan {
    padding-left: 100px;
    background-color:rgb(223, 217, 217);
    margin-left:40px;
    margin-right: 40px;
    padding-bottom: 10px;
    font-size: 1vw;
}

#annual-plan-price {
    margin-top: -70px;
    margin-right: 70px;
}

#change-link {
    padding-left: 100px;
    font-size: 1vw;
}
